@import url(https://fonts.googleapis.com/css?family=Chewy);
h1 {
  color: #00a396; 
  font-family: 'Chewy';
}
body {
  background-color: #d9ffff;
}

h1#site-title {
  font-size: 75px;
  letter-spacing: 1.25px; 
  margin-top: 0; 
  margin-bottom: .125em; 
  text-align: center; 
}

h1#article-title {
  font-size: 55px;
  letter-spacing: 1.50px;
}

p {
  color: #000000;
  background: #ffc8bf; 
}

figure {
  border: 1px solid pink; 
  padding: 12px; 
  padding-bottom: 24px; 
  color: #000000; 
}

figure img {
  width: 100%; 
}

figure.main-image {
  background: PalePink; 
  border-color: #fadedc; 
  color: black; 
}

figure.section-image {
  
}

p img {
  float: right; 
  max-width: 60%; 
  margin-left: 20px; 
  margin-bottom: 32px; 
}

nav ul {
 background-color: #fca083; 
 display: flex; 
 justify-content: flex-start; 
 list-style: none; 
 padding-left: 0; 
 border: 1px solid #e39d88; 
 text-align: center;
}

nav ul li {
 }

nav ul li a {
  color: #000000;
  text-decoration: none; 
  padding: 8px; 
  border-bottom: 1px solid #e39d88; 
  display: block; 
  
}

nav ul li a:hover {
  background-color: #d4a090;
}

nav ul li:last-child a {
border-bottom: none; 
}
