@import url(https://fonts.googleapis.com/css?family=Chewy);
h1 {
  color: #89c8fd; 
  font-family: 'Chewy';
}
body {
  background-color: #f1fdfd;
}

h1 {
  font-size: 35px;
  letter-spacing: -1px; 
  margin-top: 0; 
  margin-bottom: .125em; 
  text-align: center; 
  
}

p {
  color: #003e72; 
  background: #FFD8CA; 
}
figure {
  border: 1px solid pink; 
  padding: 12px; 
  padding-bottom: 24px; 
  color: #123a87; 
}
figure img {
  width: 100%; 
}

p img {
  float: right; 
  max-width: 60%; 
  margin-left: 20px; 
  margin-bottom: 32px; 
}

nav ul {
 background-color: #fcbda9; 
 display: flex; 
 list-style: none; 
 padding-left: 0; 
 border: 1px solid #e39d88; 
}

nav ul li {
  
}

nav ul li a {
  color: white;
  text-decoration: none; 
  padding: 8px; 
  border-bottom: 1px solid #e39d88; 
  display: block; 
}

nav ul li a:hover {
  background-color: #d4a090;
}

nav ul li:last-child a {
border-bottom: none; 
}
