h1 {
  color: #89c8fd;
  font-family: 'Franklin Gothic Medium';
}
body {
  background-color: #f1fdfd;
}

h1 {
  font-size: 35px;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;

}

p {
  color: #003e72;
  background: #FFD8CA;
}
figure {
  border: 1px solid pink;
  padding: 12px;
  padding-bottom: 24px;
  color: #123a87;
}
figure img {
  width: 100%;
}

p img {
  float: right;
  max-width: 60%;
  margin-left: 20px;
  margin-bottom: 32px;
}
